svg{
    height: 40vw;
    
     
}
.mapdiv{
    margin: auto;
    padding-left: 100px;
    padding-top: 100px;
}

.mapdiv path{
    transition: fill 1s;

}
.mapdiv:hover{
    fill: ;
}

body{  
    background-color:#f5f5f5;\
}



#southeast {
    fill: skyblue;
}
#southeast:hover {
    fill: blue;
}
#southsouth {
    fill: yellow;
}
#southsouth:hover {
    fill: yellowgreen;
}
#southwest:hover{
    fill:oldlace;
}


#northcentral {
    fill: orange;
}
#northcentral:hover {
    fill: orangered;
}
#northeast {
    fill: palegreen;
}
#northeast:hover {
    fill: green;
}
#northwest {
    fill: plum;
}
#northwest:hover {
    fill: purple;
}




ul{
    display:inline-block;
}
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    display:inline-block;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    
    }
  .my-legend ul.legend-labels li span {
    display:block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  